#add-task-container {
    margin: 40px;
}

#add-task-headline {
    margin-bottom: 56px;
}

.form {
    background-color: var(--color-secondary);
    padding: 32px;
    border-radius: var(--border-radius-main);
    height: 64%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input, textarea, select {
    font-size: inherit;
    font-family: inherit;
}

.form-part {
    min-width: 200px;
    width: 45%;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-part-big {
    height: 200px;
}

.form label {
    font-size: 18px;
    font-weight: bold;
    color: #1e3190;
    margin-bottom: 8px;
}

.input-box {
    width: 100%;
}

.input-box input, select {
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgb(213, 213, 214);
    padding-left: 4%;
}

.form-part-big textarea {
    width: 95%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid rgb(213, 213, 214);
    padding-left: 4%;
    padding-top: 16px;
}

.assigned-to-headline {
    margin-bottom: 24px;
}

.profile-pics {
    margin-left: 16px;
    display: flex;
    overflow-x: scroll;
}

.profile-pic {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
}

#add-person-btn {
    min-width: unset;
    width: 32px;
    height: 32px;
}

#action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

#action-buttons button {
    margin-left: 32px;
}

/* RESPONSIVE DESIGN */

@media(max-width: 870px) {
    .form-part {
        width: 88%;
    }
}

@media(max-width: 500px) {
    .form-part {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#create {
    margin-bottom: 12px;
}

.assigned-to-headline {
    display: flex;
    justify-content: flex-start;
}

.assigned-to-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.urgency-headline {
    display: flex;
    justify-content: flex-start;
}

.category-headline {
    display: flex;
    justify-content: flex-start;
}

.field-headline {
    display: flex;
    justify-content: flex-start;
}