#backlog {
    margin: 40px;
    margin-left: 24px;
    margin-right: 24px;
}

#backlog-headline {
    margin-bottom: 56px;
}

#column-names {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #1e3190;
    margin-bottom: 8px;
}

.column-assigned-to {
    width: calc(8px + 128px + 300px);
}

.column-category {
    width: 232px;
}

.backlog-element {
    display: flex;
    min-height: 80px;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-main);
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer;
}

.backlog-element-color {
    min-width: 6px;
    border-top-left-radius: var(--border-radius-main);
    border-bottom-left-radius: var(--border-radius-main);
}

.backlog-element-picture {
    min-width: 80px;
    flex-direction: column;
}

.backlog-element-picture img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.backlog-element-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 16px;
}

.backlog-element-category {
    min-width: 200px;
    align-self: center;
    padding: 16px;
}

.backlog-element-details {
    max-height: 80px;
    align-self: center;
    margin: 16px;
    overflow: hidden;
}

.color-category1 {
    background-color: var(--color-category1);
}

.color-category2 {
    background-color: var(--color-category2);
}

.color-category3 {
    background-color: var(--color-category3);
}

.color-category4 {
    background-color: var(--color-category4);
}

.color-category5 {
    background-color: var(--color-category5);
}

/* Here is the question, how soon should we do column and not row, my opinion is that the column looks better. */

@media(max-width:1000px) {
    .backlog-element-name {
        min-width: 220px !important;
        padding: 8px;
    }
    .column-assigned-to {
        width: calc(-100px + 128px + 300px);
    }
    .backlog-element-category {
        padding: 8px;
    }
    .backlog-element-category {
        padding: 8px;
    }
    @media(max-width:900px) {}
    .column-assigned-to {
        width: calc(-75px + 128px + 275px);
    }
    .backlog-element-details {
        word-break: break-all;
    }
}

@media(max-width:800px) {
    .backlog-element {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .backlog-element-color {
        height: 6px;
        width: 100%;
    }
    .column-assigned-to {
        display: none;
    }
    .column-category {
        display: none;
    }
    .column-details {
        display: none;
    }
    .backlog-element-picture {
        padding-top: 8px;
        flex-direction: row;
    }
    .backlog-element-picture img {
        margin-left: 4px;
        margin-right: 4px;
    }
}