#join-logo-login-container {
    height: 88px;
    width: 88px;
    position: absolute;
    top: -104px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
}

#join-logo-login {
   height: 64px;
}

.background-image-login {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-card-wide.mdl-card {
    width: 320px;
    margin-left: 24vw;
}

.mdl-card {
    overflow: unset !important;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid var(--color-secondary);
}

.fa-user {
    font-size: 3em;
    margin-bottom: 8px;
}

.demo-card-wide .mdl-card__title-text {
    align-self: center;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.mdl-card__supporting-text {
    width: 80% !important;
}

#login-btn {
    margin-bottom: 24px;
    width: 80%;
}

.demo-card-wide .mdl-card__actions {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.links-login {
    color: var(--color-email);
    text-decoration: none;
}