:root {
    --main-font-family: 'PT Sans', sans-serif;
    --header-width: 10%;
    --content-container-width: 90%;
    --color-primary: rgb(28, 45, 146);
    --color-secondary: rgb(244, 243, 251);
    --color-tertiary: rgb(37, 61, 201);
    --color-email: rgb(86, 124, 252);
    --color-delete: rgb(170, 57, 57);
    /* Uni Colors */
    --color-category1: rgb(200, 44, 143);
    --color-category2: rgb(40, 140, 255);
    --color-category3: rgb(72, 96, 211);
    --color-category4: rgb(164, 231, 76);
    --color-category5: rgb(252, 178, 18);
    /* Linear gradient colors for backlog (optional) */
   /*  --color-linear-gradient-category1: linear-gradient(to top, rgb(200, 44, 143) 0%, rgb(227, 119, 255) 50%, rgb(255, 210, 238) 80%);
    --color-linear-gradient-category2: linear-gradient(to top, rgb(255, 153, 0) 0%, rgb(248, 181, 94) 50%, rgb(255, 225, 168) 80%);
    --color-linear-gradient-category3: linear-gradient(to top, rgb(1, 32, 185) 0%, rgb(72, 96, 211) 50%, rgb(157, 172, 250) 80%);
    --color-linear-gradient-category4: linear-gradient(to top, rgb(51, 158, 1) 0%, rgb(164, 231, 76) 50%, rgb(211, 236, 190) 80%);
    --color-linear-gradient-category5: linear-gradient(to top, rgb(230, 226, 0) 0%, rgb(255, 255, 88) 50%, rgb(255, 255, 146) 80%); */
    --border-radius-main: 6px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--main-font-family);
    font-size: 16px;
}

.d-none {
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
}

h2 {
    font-size: 24px;
    margin-bottom: 0;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    color: #5060ad;
    margin-top: 0;
    line-height: 12px;
}

.btn {
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    border-radius: var(--border-radius-main);
}

.btn-delete {
    background-color: var(--color-delete) !important;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

select {
    cursor: pointer;
}

.header-and-content {
    display: flex;
}

.content-container {
    width: var(--content-container-width);
    margin-left: var(--header-width);
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;

}

.email-adress {
    color: var(--color-email);
    text-decoration: none;
}

.ticket-profile-pic {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.header-icon {
    display: none;
}

.mdl-snackbar {
    background-color: var(--color-primary);  
}

.snackbar-warning {
    background-color: var(--color-delete);
}

.mdl-snackbar__text {
    text-align: center;
}

.mdl-dialog {
    width: 700px;
    max-height: 550px;
}

.mdl-dialog__actions {
    flex-direction: row !important;
    padding-left: 8px !important;
    flex-direction: row !important;
    justify-content: flex-end;
}

.mdl-dialog__actions button {
    margin: 8px !important;
}

.table-task {
    width: 100%;
}

.table-task td {
    border-bottom: 1px solid var(--color-secondary);
}

.table-task tr td:first-child {
    padding-right: 32px;
}

.dialog-description {
    max-height: 200px;
    overflow-y: auto;
    outline: none;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mdl-list__item {
    border: 1px solid var(--color-secondary);
}

.init {
    opacity: 0;
}

.mdl-button:hover {
    opacity: 0.8;
}

/* source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.profile-pics::-webkit-scrollbar, .ticket-profiles::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.profile-pics, .ticket-profiles {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* RESPONSIVE DESIGN */

@media(max-width: 890px) {
    .header-icon {
        display: block;
        margin-left: 12px;
    }
    /* .header-txt {
        display: none;
    } */
    .form {
        height: 100% !important;
    }
}

@media(max-width: 870px) {

    .content-container {
        overflow: auto;
        height: unset !important;
    }
 
    #action-buttons {
        margin-bottom: 8px;
    }
}

@media(max-width: 700px) {
    .mdl-dialog {
        max-width: 85vw !important;
        max-height: unset !important;
        position: fixed;
        top: 3vh;
    }
}

@media(max-width: 500px) {

    .content-container {
        margin-left: unset !important;
    }

    #add-task-headline, #backlog-headline {
        margin-left: 8px;
    }

    .header-and-content {
        display: unset !important;
    }

    .content-container {
        margin-top: 80px;
        width: unset !important;
    }

    #add-task-headline {
        margin-bottom: unset !important;
    }

    #add-task-container {
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 20px !important;
    }
}
       
    
@media(max-width: 375px) {
        
            .content-container {
                background-color: white;
                ;
            }

            .form-part {
                min-width: 155px !important;
            }

            #action-buttons button {
                margin-left: 8px !important;
            }

            .profile-pics {
                margin-left: 32px !important; 
            }

            .profile-pic {
                width: 40px !important;
                height: 40px !important;
                
            }
 
        }