#add-task-container {
    margin: 40px;
    height: 100%;
}

#add-task-headline {
    margin-bottom: 56px;
}

.form {
    background-color: var(--color-secondary);
    padding: 32px;
    border-radius: var(--border-radius-main);
    height: 64%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input, textarea, select {
    font-size: inherit;
    font-family: inherit;
}

.form-part {
    min-width: 200px;
    width: 45%;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-part-big {
    height: 200px;
}

.form label {
    font-size: 18px;
    font-weight: bold;
    color: #1e3190;
    margin-bottom: 8px;
}

.input-box {
    width: 100%;
}

.input-box input, select {
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgb(213, 213, 214);
    padding-left: 4%;
}

.form-part-big textarea {
    width: 95%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid rgb(213, 213, 214);
    padding-left: 4%;
    padding-top: 16px;
}

.assigned-to-headline {
    margin-bottom: 24px;
}

.profile-pics {
    margin-left: 16px;
}

#profile-pic {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
}

#add-person-btn {
 min-width: unset;
 width: 32px;
 height: 32px;
}

#action-buttons {
    display: flex;
    justify-content: flex-end;
}

#action-buttons button {
    margin-left: 32px;
}

