

#whole-board {
    margin-top: 24px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    height: 95%;
    width: 90%;

}

.board-category {
    height: 100%;
    width: 20%;
}

.board-category-content {
    height: 84%;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.ticket-box {
    width: 80%;
    height: 164px;
    margin-top: 5%;
    background-color: white;
    border-radius: var(--border-radius-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    cursor: pointer;
}

.ticket-title {
    font-weight: bold;
}

.ticket-category {
    margin-bottom: 8px;
}

.ticket-profiles {
    display: flex;
    align-self: flex-end;
}

.ticket-description {
    max-height: 100px;
    overflow-y: hidden;
    text-align: left;
}

.color-border-category1 {
    border: 3px solid var(--color-category1);
}

.color-border-category2 {
    border: 3px solid var(--color-category2);
}

.color-border-category3 {
    border: 3px solid var(--color-category3);
}

.color-border-category4 {
    border: 3px solid var(--color-category4);
}

.color-border-category5 {
    border: 3px solid var(--color-category5);
}


/* RESPONSIVE DESIGN */

@media(max-width:900px){
    #whole-board{
        flex-direction: column;
        align-items: center;
        height: unset;
    }

    .board-category {
        width: 88%;
    }

    .board-category-content{
        max-height: 50vh;
        padding-bottom: 5%;
    }
}

@media(max-width: 700px){
    #whole-board{
        margin-left: 0px;
        width: 100%;
    }
}

@media(max-width:375px){
    .board-category-content{
        background-color: var(--color-secondary);
    }
}