body {
    margin: 0;
}

#header-and-board {
    display: flex;
}

#header {
    width: 10%;
}

#whole-board {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#in-progress-content {
    height: 80%;
    background-color: gray;
}