

#whole-board {
    margin-top: 24px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    height: 95%;
    width: 90%;

}

.board-category {
    height: 100%;
    width: 20%;
}

.board-category-content {
    height: 84%;
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.ticket-box {
    width: 80%;
    height: 164px;
    margin-top: 5%;
    background-color: var(--color-secondary);
    border: 3px solid var(--color-category1);
    border-radius: var(--border-radius-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    cursor: crosshair;
    box-shadow: 0 0 3px white;
}

.ticket-title {
    font-weight: bold;
}

.ticket-category {
    margin-bottom: 8px;
}

.ticket-profiles {
    display: flex;
    align-self: flex-end;
}

.ticket-description {
    max-height: 100px;
    overflow-y: hidden;
    text-align: left;
}


/* RESPONSIVE DESIGN */

@media(max-width:900px){
    #whole-board{
        flex-direction: column;
        align-items: center;
    }

    .board-category{
        width: 88%;
        margin-bottom: 40px;
    }
}

@media(max-width: 877px){
    /* h2{ */
        /* font-size: 17px; */                                     /* I'm not sure here. I can go down with font size, but then its smaller then a tag. Maybe we need to re-do css here - This is about IN PROGRESS h2 tag */
    /* }                                                               [Paul]: I tested it. We don't need to go down with the font size. Everything is fine. */
}

@media(max-width: 700px){
    #whole-board{
        margin-left: 0px;
        width: 100%;
    }
}

@media(max-width:375px){
    .board-category-content{
        background-color: #f4f3fb;
    }
}