#data-privacy {
    margin: 32px;
}

#data-privacy h2 {
    font-size: 1.8em;
}

#data-privacy h3 {
    font-size: 1.2em;
    line-height: 24px !important;
}

#data-privacy h4 {
    font-size: 1.1em;
}