:root {
    --main-font-family: 'PT Sans', sans-serif;
    --header-width: 10%;
    --content-container-width: 90%;
    --color-primary: rgb(28, 45, 146);
    --color-secondary: rgb(244, 243, 251);
    --color-tertiary: rgb(66, 79, 151);
    --color-email: rgb(86, 124, 252);
    --color-delete: rgb(170, 57, 57);
    /* The changing colors depending on chosen category will to be implemented via javascript function */
    /* Uni Colors for board */
    --color-category1: rgb(200, 44, 143);
    --color-category2: rgb(255, 153, 0);
    --color-category3: rgb(72, 96, 211);
    --color-category4: rgb(164, 231, 76);
    --color-category5: rgb(255, 255, 88);
    /* Linear gradient colors for backlog */
    --color-linear-gradient-category1: linear-gradient(to top, rgb(200, 44, 143) 0%, rgb(227, 119, 255) 50%, rgb(255, 210, 238) 80%);
    --color-linear-gradient-category2: linear-gradient(to top, rgb(255, 153, 0) 0%, rgb(248, 181, 94) 50%, rgb(255, 225, 168) 80%);
    --color-linear-gradient-category3: linear-gradient(to top, rgb(1, 32, 185) 0%, rgb(72, 96, 211) 50%, rgb(157, 172, 250) 80%);
    --color-linear-gradient-category4: linear-gradient(to top, rgb(51, 158, 1) 0%, rgb(164, 231, 76) 50%, rgb(211, 236, 190) 80%);
    --color-linear-gradient-category5: linear-gradient(to top, rgb(230, 226, 0) 0%, rgb(255, 255, 88) 50%, rgb(255, 255, 146) 80%);
    --border-radius-main: 12px;
}

body {
    margin: 0;
    font-family: var(--main-font-family);
    font-size: 16px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    color: #5060ad;
    margin-top: 0;
    line-height: 12px;
}

.btn {
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    border-radius: var(--border-radius-main);
}

.btn-delete {
    background-color: var(--color-delete) !important;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

select {
    cursor: pointer;
}

.header-and-content {
    display: flex;
}

.content-container {
    width: var(--content-container-width);
    height: 100vh;
    overflow: auto;
}

.email-adress {
    color: var(--color-email);
    text-decoration: none;
}

.profile-pic-header {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 32px;
}

.ticket-profile-pic {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.header-icon {
    display: none;
}

.mdl-snackbar {
    background-color: var(--color-primary);  
}

.mdl-snackbar__text {
    text-align: center;
}

.mdl-dialog {
    width: 700px;
    max-height: 550px;
}

.mdl-dialog__actions {
    flex-direction: row !important;
    padding-left: 8px !important;
    flex-direction: row !important;
    justify-content: flex-end;
}

.mdl-dialog__actions button {
    margin: 8px !important;
}

.table-task {
    width: 100%;
}

.table-task td {
    border-bottom: 1px solid var(--color-secondary);
}

.table-task tr td:first-child {
    padding-right: 32px;
}

.dialog-description {
    max-height: 200px;
    overflow-y: auto;
    outline: none;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mdl-list__item {
    border: 1px solid var(--color-secondary);
}


/* RESPONSIVE DESIGN */

@media(max-width: 890px) {
    .header-icon {
        display: block;
        margin-left: 12px;
    }
    .header-txt {
        display: none;
    }
    .form {
        height: 100% !important;
    }
}

@media(max-width: 870px) {
    #logo {
        height: 60px;
    }
    #header-links a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .content-container {
        overflow: auto;
    }
    #header-content {
        height: 100% !important;
    }
    .profile-pic-header {
        width: 48px;
        height: 54px;
    }
    #action-buttons {
        margin-bottom: 8px;
    }
}

@media(max-width: 760px) {
    :root {
        /* --color-secondary: none; */
        --header-width: 14%;
    }
}

@media(max-width: 610px) {
    :root {
        /* --color-secondary: none; */
        --min-header-width: 18%;
    }
    .header-icon {
        display: block;
        margin-left: 10px;
    }
}
   
@media (max-width: 412px) {
        .profile-pic-header {
            width: 40px;
            height: 45px;
        }

    }
       
    
@media(max-width: 375px) {
            :root {
                /* --color-secondary: none; */
                --header-width: 14%;
            }
            .content-container {
                background-color: white;
                ;
            }
            .form-part {
                min-width: 155px !important;
            }
            #action-buttons button {
                margin-left: 8px !important;
            }
            .profile-pic {
                width: 38px;
                height: 42px;
            }
            #logo {
                height: 50px;
            }
            .header-icon {
                margin-left: 8px;
            }

            .form{
                background-color: white !important;
            }

            #logo {
                height: 50px !important;
            }
        }