.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* #header {
    width: var(--header-width);
} */

.header {
    position: fixed;
    width: var(--header-width);
    transition: all 225ms ease-in-out;
}

#header-links a {
    color: white;
    text-decoration: none;
}

#header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    height: 100vh;
    background-color: var(--color-primary);
}

.header-txt {
    color: white;
}

#logo-and-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo-container {
    margin-top: 16px;
    margin-top: 32px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}

#header-links {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.hl-show {
    height: 20vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    font-size: 20px !important;
}

.profile-pic-header {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 32px;
    cursor: pointer;
}

.header-btns {
    display: none !important;
}

/* RESPONSIVE DESIGN */

@media(max-width: 870px) {
    /* #header-content {
        height: 100% !important;
    } */
    #logo {
        height: 60px;
    }
    .expanded-header {
        width: calc(var(--header-width) + 100px);
    }
    #header-links a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .hl-show {
        margin-top: 64px;
    }
    .hl-dont-show {
        display: none !important;
    }
    .profile-pic-header {
        width: 40px;
        height: 40px;
        margin-bottom: 0 !important;
    }
    .header-btns {
        /* position: absolute; */
        /* right: 0; */
        /* top: 50%; */
        color: white;
        cursor: pointer;
    }
    .show-header-btn {
        display: block !important;
    }
    .profile {
        margin-bottom: 16px;
    }
}

@media(max-width: 610px) {
    .header-icon {
        display: block;
        margin-left: 10px;
    }
}

@media(max-width: 500px) {
    .header {
        width: unset !important;
        height: 10vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .expanded-header {
        height: 50vh;
    }
    .expanded-logo-and-links {
        width: 60vw;
    }
    .header-btns-container {
        position: absolute;
        top: unset;
        right: 50%;
        bottom: 0;
    }
    .header-btns {
        position: relative;
        right: -50%;
    }
    #header-content {
        flex-direction: row !important;
        justify-content: space-around !important;
        height: 100% !important;
    }
    #logo-and-links {
        flex-direction: row !important;
        align-items: center;
    }
    #logo-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #logo {
        height: 40px;
    }
    .profile {
        margin-bottom: unset;
    }
    /* #header-links {
        flex-direction: row !important;
        height: unset !important;
        margin-left: 16px;
    } */
}

@media(max-width: 375px) {
    .header-icon {
        height: 20px;
        width: 20px;
        margin-left: 8px;
    }
    #logo {
        height: 40px !important;
    }
    .profile-pic-header {
        height: 40px;
        width: 40px;
    }
}