#header {
    width: var(--header-width);
}

#header-links a {
    color: white;
    text-decoration: none;
}

#header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary);
}

#logo-and-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo-container {
    margin-top: 16px;
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
}

#header-links {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.profile-pic-header {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 32px;
}