<div id="header-content">

    <div id="logo-and-links">

        <div id="logo-container">
            <a href="../board.html"><img id="logo" src="../img/joinlogo.png"></a>
        </div>

        <div id="links">
            <a href="../board.html">Board</a>
            <a href="../backlog.html">Backlog</a>
            <a href="../addtask.html">Add Task</a>
            <a href="#">Help</a>
        </div>

    </div>

    <div class="profile">
        <img src="../img/joinlogo.png">
    </div>

</div>