<div id="header-content">

    <div id="logo-and-links">

        <div id="logo-container">
            <a href="../board.html"><img id="logo" src="../img/joinlogo.png"></a>
        </div>

        <div id="header-links">
            <a href="../board.html"><img class="header-icon" src="../img/project.png"><span class="header-txt">Board</span></a>
            <a href="../backlog.html"><img class="header-icon" src="../img/list.png"><span class="header-txt">Backlog</span></a>
            <a href="../addtask.html"><img class="header-icon" src="../img/plus.png"><span class="header-txt">Add Task</span></a>
            <a href="#"><img class="header-icon" src="../img/question-mark.png"><span class="header-txt">Help</span></a>
        </div>

    </div>

    <div class="profile">
        <img class="profile-pic" src="../img/junus_ergin.jpg">
    </div>

</div>