<div id="header-content">

    <div id="logo-and-links">

        <div id="logo-container">
            <a href="board.html"><img id="logo" src="../img/joinlogo.png"></a>
        </div>

        <div id="header-links">
            <a href="board.html"><img class="header-icon" src="../img/project.png"><span class="header-txt">Board</span></a>
            <a href="backlog.html"><img class="header-icon" src="../img/list.png"><span class="header-txt">Backlog</span></a>
            <a href="addtask.html"><img class="header-icon" src="../img/plus.png"><span class="header-txt">Add Task</span></a>
            <a href="faq.html"><img class="header-icon" src="../img/question-mark.png"><span class="header-txt">FAQ</span></a>
            <a href="data_privacy.html"><img class="header-icon" src="../img/data_privacy.png"><span class="header-txt">Data Privacy</span></a>
            <a href="legal_notice.html"><img class="header-icon" src="../img/legal_notice.png"><span class="header-txt">Legal Notice</span></a>
            <button id="change-navbar-btn" onclick="changeNavbar()">&gt;</button>
        </div>

    </div>

    <div id="profile" class="profile">
        <!-- <img class="profile-pic-header" src="../img/profile.png"> -->
    </div>

</div>