.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* #header {
    width: var(--header-width);
} */

.header {
    width: var(--header-width);
}

.expanded-header {
    width: calc(var(--header-width) + 100px);
}

#header-links a {
    color: white;
    text-decoration: none;
}

#header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    height: 100vh;
    background-color: var(--color-primary);
}

.header-txt {
    color: white;
}

#logo-and-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo-container {
    margin-top: 16px;
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
}

#header-links {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.profile-pic-header {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 32px;
    cursor: pointer;
}

#change-navbar-btn {
    display: none;
}

/* RESPONSIVE DESIGN */

@media(max-width: 870px) {
    /* #header-content {
        height: 100% !important;
    } */
    #logo {
        height: 60px;
    }
    #header-links a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .profile-pic-header {
        width: 40px;
        height: 40px;
        margin-bottom: 0 !important;
    }
    #change-navbar-btn {
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
    }
}

@media(max-width: 610px) {
    .header-icon {
        display: block;
        margin-left: 10px;
    }
}

@media(max-width: 500px) {
    #header {
        width: unset !important;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    #header-content {
        flex-direction: row !important;
        justify-content: space-around !important;
        height: 100% !important;
    }
    #logo-and-links {
        flex-direction: row !important;
        /* align-items: flex-end; */
    }
    #logo-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #logo {
        height: 40px;
    }
    #header-links {
        flex-direction: row !important;
        height: unset !important;
        margin-left: 16px;
    }
}

@media(max-width: 375px) {
    .header-icon {
        height: 20px;
        width: 20px;
        margin-left: 8px;
    }
    #logo {
        height: 40px !important;
    }
    .profile-pic-header {
        height: 40px;
        width: 40px;
    }
}